html, body
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
}

label
{
    user-select: none;
}

nav
{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Iansui;
}

nav a
{
    text-decoration: none;
    color: black;
    font-size: 16pt;
}

.logo
{
    margin-left: 90px;
    font-family: Agency-FB;
    font-weight: bold;
}

.logo-my
{
    font-size: 50pt;
}
.logo-family
{
    font-size: 20pt;
}

.nav-links
{
    display: flex;
    flex: 1;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-links li
{
    margin: 0 30px;
}

.nav-links a, .account-action-links
{
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
}

.account-action-links
{
    margin-right: 30px;
}

#body
{
    background: linear-gradient(#cae9e1, #408dcb);
    height: 100%;
    flex: 1;
    overflow: hidden;
}

#island_button, #resident_button
{
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    font-size: 20pt;
    font-family: Agency-FB;
    font-weight: bold;
    color: #727171;
    cursor: pointer;
    user-select: none;
}

#island_button::before, #resident_button::before
{
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#island_button
{
    left: 100px;
}
#island_button::before
{
    background-image: url(assets/icons/island.png);
}
#resident_button
{
    left: 210px;
}
#resident_button::before
{
    background-image: url(assets/icons/resident.png);
}

#island_canvas
{
    height: 100%;
}

.mark
{
    position: absolute;
    top: 30%;
    right: 3%;
    font-size: 50pt;
    font-family: Agency-FB;
    font-weight: bold;
}

button
{
    font-size: 35pt;
    font-family: Agency-FB;
    font-weight: bold;
    cursor: pointer;

    background-color: #874539;
    color: white;
    border: none;
    box-shadow: 0 7px 0 #602c24;
    border-radius: 7px;
    outline: none;
    border-image-source: url(assets/button.svg);
    border-image-width: 10px 10px 20px 10px;
    border-image-slice: 20 20 39 20;
    user-select: none;
}

button:active
{
    box-shadow: 0 3px 0 #602c24;
    transform: translateY(4px);
}

#support_button
{
    position: absolute;
    right: 3%;
    bottom: 20%;
    padding: 5px 50px;
    
}

/* dialog */
dialog
{
    border: none;
    border-radius: 15px;
    width: 80%;
    height: 90%;
    position: absolute;
    font-family: Agency-FB;
    font-weight: bold;
    background-color: rgba(200, 160, 99, .61);
    padding: 0;
    flex-flow: column;
    outline: none;
    overflow: visible;
}
dialog[open]
{
    display: flex;
}

.dialog-header
{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.back-button
{
    padding: 0 20px;
    cursor: pointer;
    position: absolute;
}

#dialog_title
{
    flex: 1;
    text-align: center;
    font-size: 32pt;
}

.people-label
{
    background-color: white;
    border: 1px solid #D9CA7A;
    padding: 2px 4px;
    border-radius: 8px;
    position: absolute;
    right: 80px;
}

#resident_count
{
    margin: 0 20px;
    font-size: 16pt;
}

.help-button
{
    background-color: white;
    border: 1px solid #D9CA7A;
    border-radius: 50%;
    font-size: 20pt;
    height: 31px;
    width: 31px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 26px;
}

.close-button
{
    position: absolute;
    background-color: #874539;
    --button-size: 40px;
    width: var(--button-size);
    height: var(--button-size);
    right: calc(-1 * var(--button-size));
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-button::after
{
    content: "";
    display: inline-block;
    width: var(--button-size);
    height: var(--button-size);
    position: absolute;
    border-top: #874539 calc(var(--button-size) / 2) solid;
    border-bottom: #874539 calc(var(--button-size) / 2) solid;
    border-left: transparent calc(var(--button-size) / 2) solid;
    border-right: transparent calc(var(--button-size) / 2) solid;
    left: calc(var(--button-size) / 2);
    box-sizing: border-box;
}

.dialog-card-selector
{
    display: none;
}
.dialog-card-selector:checked + .dialog-body
{
    display: flex;
}

.dialog-body
{
    display: none;
    background-color: #D2C8BB;
    flex: 1;
    border: 2px solid #A48B78;
    border-radius: 10px;
    --padding: 20px;
    padding: var(--padding);
}


/* dialog body (residents list) */
#dialog_resident_info
{
    flex-wrap: wrap;
    justify-content: space-between;
}

.resident-info
{
    width: calc((100% - 2 * var(--padding)) / 5);
    height: calc((100% - 2 * var(--padding)) / 2);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border: 2px solid #A48B78;
    border-radius: 5px;
    cursor: pointer;
}

.resident-photo
{
    flex: 1;
}

.resident-photo img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resident-name
{
    text-align: center;
    font-size: 20pt;
    margin-top: 20px;
}

/* resident support detail */
#dialog_resident_detail
{
    font-weight: normal;
}

#resident_big_photo
{
    width: 40%;
    object-fit: cover;
    border-radius: 30px;
}

#resident_description
{
    flex: 1;
    padding: 20px;
    font-size: 20pt;
    border-right: 1px solid #A48B78;
}

.pay-plan
{
    flex: 1;
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
}

#pay_plan
{
    height: 30px;
    border: none;
    outline: none;
    border-radius: 3px;
}

#pay_plan, label:has(#extra_support)
{
    width: 200px;
    margin-right: 10px;
}

.pay-option
{
    display: flex;
    margin-bottom: 10px;
}

.money-tag
{
    display: inline;
    background-color: #FBE2ED;
    color: #8F4B3E;
    padding: 5px;
    border-radius: 3px;
}

#dialog_resident_detail .notification
{
    flex: 1;
    display: flex;
    align-items: end;
    margin-bottom: 20px;
}

#select_plan
{
    padding: 5px 50px;
    margin-bottom: 7px;
}

/* payment form */
#dialog_payment_info
{
    flex-flow: column;
}

#dialog_payment_info h3
{
    margin-top: 0;
}

.payment-info-layout
{
    padding: 20px 50px 10px 50px;
    font-weight: normal;
}

.payment-info
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    flex: 0;
}

label:has(+input[required])::before, label:has(+select[required])::before
{
    content: "*";
    color: red;
}

.payment-info label
{
    display: block;
    margin-bottom: 8px;
}
.payment-info input[type="text"], .payment-info input[type="date"], .payment-info select
{
    width: 100%;
    font-size: 14pt;
    border: 1px #B5B5B6 solid;
    outline: none;
    border-radius: 5px;
    height: 43px;
}
.left-half
{
    grid-column: 1 / 3;
}
.right-half
{
    grid-column: 3 / 5;
}
.full-width
{
    grid-column: 1 / 5;
}

.payment-footer label
{
    display: inline;
    margin-right: 30px;
}

div:has(>#paymethod_next_button)
{
    grid-column: 4 / 5;
    text-align: right;
}
#paymethod_next_button
{
    padding: 10px 24px;
    font-size: 22pt;
    display: inline-flex;
    align-items: center;
}

/* payment method */
.pay-method
{
    padding: 20px 50px 10px 50px;
    font-weight: normal;
}

.pay-method label
{
    display: block;
    margin-bottom: 20px;
}

#dialog_pay_method .notification
{
    margin-top: 40px;
}
#pay_next_button
{
    padding: 10px 24px;
    font-size: 22pt;
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

/* island, resident collection dialog */
#islands, #resident_collections
{
    flex-wrap: wrap;
    justify-content: space-between;
}
.island, .resident-avatar
{
    width: 33%;
    height: 50%;
    cursor: pointer;
    position: relative;
}
.island::before, .resident-avatar::before
{
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.island::before
{
    background-image: var(--island-img);
}
.resident-avatar::before
{
    background-image: var(--resident-img);
}

.island[data-open="false"]::before, .resident-avatar[data-open="false"]::before
{
    filter: grayscale(100%) brightness(0) contrast(1);
    opacity: 0.5;
}
.island[data-open="false"]::after, .resident-avatar[data-open="false"]::after
{
    content: "?";
    font-size: 80pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
